USE [master]
GO
/****** Object:  Database [armazem]    Script Date: 04/05/2025 18:23:07 ******/
CREATE DATABASE [armazem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'armazem', FILENAME = N'E:\MicrosoftSQLServer\MSSQL16.MSSQLSERVER1\MSSQL\DATA\armazem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'armazem_log', FILENAME = N'E:\MicrosoftSQLServer\MSSQL16.MSSQLSERVER1\MSSQL\DATA\armazem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [armazem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [armazem]
GO
/****** Object:  Table [dbo].[produtos]    Script Date: 04/05/2025 18:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produtos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NULL,
	[Quantidade] [int] NULL,
	[Preco] [decimal](20, 2) NULL,
	[data_Chegada] [date] NULL,
	[validade] [date] NULL,
	[foto] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 04/05/2025 18:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[senha] [varchar](100) NULL,
	[bloqueado] [bit] NULL,
	[foto] [varchar](255) NULL,
	[adm] [bit] NULL
) ON [PRIMARY]
GO
USE [master]
GO
